[*]
charset = utf-8
end_of_line = LF
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

[{*.go,*.go.tmpl}]
indent_style = tab
ij_go_GROUP_CURRENT_PROJECT_IMPORTS = true
ij_go_group_stdlib_imports = true
ij_go_import_sorting = gofmt
ij_go_local_group_mode = prefix
ij_go_local_package_prefixes = github.com/gocassa/gocassa
ij_go_move_all_imports_in_one_declaration = true
ij_go_move_all_stdlib_imports_in_one_group = true